<p id="notice"><%= notice %></p>

<div class="container">

<div id="image_container">
  <%= image_tag @upload.attachment.url, id: 'main_image' %>
</div>



<div id="side_bar">
  <b>Name: My File</b>
  <br/>
  <strong>Size:</strong> <%= number_to_human_size(@upload.attachment.sanitized_file.size) %>
  <br/><br/><br/>
  This file was shared using<br/><br/>
  <center>
  <img src="/images/slide1.jpg" width="320">
  </center><br/>
  To share your own files download today
  <a href="/download">Download</a>
</div>

</div>
