<!DOCTYPE html>
<html>
<head>
  <title>Sender</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top_nav">
<a href="index.html"><img style="padding-top:12px; padding-left:30px;" src="/images/logo.png" alt="logo"></a>
</div>
<%= yield %>

</body>
</html>
